<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>New message form</title>
</head>
<body>
    <form method="POST" action="/new">
        <h1>Add a new message!</h1>
        <input name="author" type="text" placeholder="put your name here">
        <input name="content" type="text" placeholder="put message here">
        <button type="submit">Submit here!</button>
    </form>
</body>
</html>